<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/teams">
  <label for="team_name">Team Name: </label>
  <input type="text" id="team[name]" name="team[name]"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" id="team[motto]" name="team[motto]"><br>
  
  <h2>Hero 1</h2>
  <label for="member1_name">Hero's Name: </label>
  <input type="text" id="member1_name" name="team[members][][name]"><br>
  <label for="member1_power">Hero's Power</label>
  <input type="text" id="member1_power" name="team[members[][power]"><br>
  <label for="member1_bio">Hero's Biography: </label>
  <input type="text" id="member1_bio" name="team[members][][bio]"><br>
</form>
