<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/teams">
  <label for="team_name">Team Name: </label>
  <input type="text" id="team[name]" name="team[name]">
  <label for="team_motto">Team Motto</label>
  <input type="text" id="team[motto]" name="team[motto]">
</form>
